#这里是nginx专用的重定向文件
# nginx rewrite rule
    ##如果请求/*.php文件，转向不存在的文件，这里为了方便使用404
    rewrite ^/(.*)\.php$    404 break;
    ##图标文件
    rewrite ^/favicon.ico$  /public/favicon_32*32.ico break;
    ##css文件重定向
    rewrite ^/css/(.*)$     /public/$1 break;
    ##javascript文件重定向
    rewrite ^/js/(.*)$      /script/js/$1 break;
    ##jpg png gif等图片文件重定向
    rewrite ^/img/(.*)$     /public/images/$1 break;
    ##用户自定义头像文件重定向(原为用户UId/文件名.png，现为time()+用户名的散列值)
    rewrite ^/avatar/(.*)$  /DATA/Avatar/$1 break;
    ##信息处理重定向(InfoController模块)
    rewrite ^/info/(.*)$    /index.php?url=info/info/$1 break;
    ##图像生成模块重定向(ImageController模块)
    rewrite ^/image/(.*)$    /index.php?url=image/image/$1 break;
    ##
    rewrite ^/file/(.*)$  /index.php?url=file/file/$1 break;
    ##个人信息专用的重定向，因为不想再开一个控制器（需重载__destruct），于是直接在login中使用
    ##具体见login/site
    rewrite ^/site(/([^/]*))?$    /index.php?url=login/site$1 break;
    ##其余文件重定向
    rewrite ^/(.*)$         /index.php?url=$1 break;
# end nginx rewrite rule
